body {
  font-family: 'Roboto'; }

nav {
  margin-bottom: 30px; }

.nav-wrapper .brand-logo {
  margin: 0 30px; }

.nav-wrapper .fa.fa-btn {
  margin-right: 1px; }

.register #rules + label {
  margin-top: 20px; }

.register #rules ~ .input-field {
  margin-bottom: 20px; }

form h4 {
  margin: 0 0 20px 0; }

div.invalid, .inputError {
  font-size: .8rem;
  margin-top: -15px;
  color: #F44336; }

select.validation {
  display: inline;
  width: 0;
  height: 0;
  position: absolute;
  left: -1000%;
  opacity: 0; }

select.invalid ~ .select-dropdown {
  border-bottom: 1px solid #F44336; }

@media only screen and (max-width: 992px) {
  .nav-wrapper .brand-logo {
    margin: 0; } }

@media screen and (max-width: 400px) {
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0; } }
