@charset "UTF-8";
body {
  font-family: 'Roboto';
  background-color: #f9f9f9; }

nav {
  margin-bottom: 30px; }

.nav-wrapper .brand-logo {
  margin: 0 30px; }

.nav-wrapper .fa.fa-btn {
  margin-right: 1px; }

.register #rules + label {
  margin-top: 20px; }

.register #rules ~ .input-field {
  margin-bottom: 20px; }

form h4 {
  margin: 0 0 20px 0; }

div.invalid, .inputError {
  font-size: .8rem;
  margin-top: -15px;
  color: #F44336; }

select.validation {
  display: inline;
  width: 0;
  height: 0;
  position: absolute;
  left: -1000%;
  opacity: 0; }

select.invalid ~ .select-dropdown {
  border-bottom: 1px solid #F44336; }

.card .card-title i {
  font-size: 27px;
  position: relative;
  top: 4px; }

.card .card-content button {
  margin-top: 10px;
  margin-bottom: 10px; }

.card .card-content p {
  margin-bottom: 5px;
  margin-top: 5px; }

.card .card-content .collapsible {
  border: none; }

.card .card-content .collapsible-header {
  border: none; }

.card .close {
  background: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 20px;
  color: #fff; }

/**   Профиль пользователя   **/
.profile-image {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px; }

.profile-name {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 15px; }

hr.light {
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.3; }

.profile-actions {
  border-left: none;
  border-right: none;
  border-color: rgba(224, 224, 224, 0.3);
  margin: 0; }
  .profile-actions i {
    vertical-align: bottom; }
  .profile-actions .collection-item {
    border-color: rgba(224, 224, 224, 0.3); }

.profile-social {
  margin-top: 15px;
  font-size: 26px; }
  .profile-social a {
    margin: 0 5px; }

.profile-statistics i.fa {
  font-size: 40px;
  display: block;
  margin-bottom: 10px;
  line-height: normal;
  height: 40px; }

.medium-small {
  font-size: 0.8rem;
  margin: 0;
  padding: 0; }

.material-tooltip {
  visibility: visible; }
  .material-tooltip .backdrop {
    visibility: visible; }

.profileEdit ul.collapsible-accordion {
  border-right: none;
  border-left: none;
  box-shadow: none; }
  .profileEdit ul.collapsible-accordion > li {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; }

@media only screen and (max-width: 992px) {
  .nav-wrapper .brand-logo {
    margin: 0; } }

@media screen and (max-width: 400px) {
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0; } }
