// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: 'Roboto';
  background-color: #f9f9f9;
}

nav{
  margin-bottom: 30px;
}

.nav-wrapper{
  .brand-logo{
    margin: 0 30px;
  }

  .fa.fa-btn {
    margin-right: 1px;
  }
}

.register{

  #rules+label{
    margin-top: 20px;
  }
  #rules~.input-field{
    margin-bottom: 20px;
  }
}

form{
  h4{
    margin: 0 0 20px 0;
  }
}


div.invalid, .inputError{
  font-size: .8rem;
  margin-top: -15px;
  color: #F44336;
}

select.validation{
  display: inline;
  width: 0;
  height: 0;
  position: absolute;
  left: -1000%;
  opacity: 0;
}

select.invalid ~ .select-dropdown {
  border-bottom: 1px solid #F44336;
}

.card{
  .card-title{
    i{
      font-size: 27px;
      position: relative;
      top: 4px;
    }
  }
  .card-content{
    button{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    p{
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .collapsible{
      border: none;
    }
    .collapsible-header{
      border: none;
    }
  }
  .close {
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    color: #fff;
  }
}

/**   Профиль пользователя   **/

.profile{

}

.profile-image{
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}

.profile-name{
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 15px;
}

hr.light{
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.3;
}

.profile-actions{
  border-left: none;
  border-right: none;
  border-color: rgba(224, 224, 224, 0.3);
  margin: 0;
  i{
    vertical-align: bottom;
  }
  .collection-item{
    border-color: rgba(224, 224, 224, 0.3);
  }

}

.profile-social{
  margin-top: 15px;
  font-size: 26px;
  a{
    margin: 0 5px;
  }
}

.profile-statistics{
  i.fa{
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
    line-height: normal;
    height: 40px;
  }
}

.medium-small {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.material-tooltip {
  .backdrop{
    visibility: visible;
  }
  visibility: visible;
}

.profileEdit {
  ul.collapsible-accordion {
    border-right: none;
    border-left: none;
    box-shadow: none;
    > li {
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      margin-bottom: 20px;
    }
  }
}