// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: 'Roboto';
  background-color: #f9f9f9;
}

nav{
  margin-bottom: 30px;
}

.nav-wrapper{
  .brand-logo{
    margin: 0 30px;
  }

  .fa.fa-btn {
    margin-right: 1px;
  }
}

.register{

  #rules+label{
    margin-top: 20px;
  }
  #rules~.input-field{
    margin-bottom: 20px;
  }
}

form{
  h4{
    margin: 0 0 20px 0;
  }
}


div.invalid, .inputError{
  font-size: .8rem;
  margin-top: -15px;
  color: #F44336;
}

select.validation{
  display: inline;
  width: 0;
  height: 0;
  position: absolute;
  left: -1000%;
  opacity: 0;
}

select.invalid ~ .select-dropdown {
  border-bottom: 1px solid #F44336;
}

.card{
  .card-title{
    i{
      font-size: 27px;
      position: relative;
      top: 4px;
    }
  }
  .card-content{
    button{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    p{
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .collapsible{
      border: none;
    }
    .collapsible-header{
      border: none;
    }
  }
  .close {
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    color: #fff;
  }
}
